---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #ffffff;
    background-image: url("../logo.png");
    background-position-x: 0px;
    background-position-y: 100px;
    background-repeat: no-repeat;
    .project-name {
        color: #000000;
    }
    .project-tagline {
        color: #222222;
    }
}

.page-nav {
    background-color: #d9ecde;
    padding: 2px;
    a {
        padding: 0 0.5em;
        color: #202d39;
        background: #cde2d3;
        font-size: larger;
    }
}