---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #ffffff;
    background-image: none;
    padding: 2rem 0;
    .project-head {
        display: inline-block;
        .project-logo {
            float: left;
            width: 154px;
            height: 178px;
            @media only screen and (max-width: 425px) {
                width: 77px;
                height: 89px;
            }
        }
        .project-name {
            color: #000000;
            display: inline-block;
        }
        .project-tagline {
            color: #222222;
        }
    }
}

.page-nav {
    background-color: #d9ecde;
    padding: 2px;
    a {
        padding: 0 0.5em;
        color: #202d39;
        background: #cde2d3;
        font-size: larger;
    }
}